

body {
  background-color: #020202; /* Cor de fundo cinza claro */
  color: #000; /* Cor do texto */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
}


footer {
  flex-shrink: 0;
  background-color: black !important;
  color: white;
}

.text-green {
    color: #32cd32; 
  }
  
  .text-light {
    color: #f8f9fa; 
  }
  
  .carousel-caption {
    text-align: left; 
    bottom: 25%; 
  }
  
  .carousel-caption h5 {
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
  
  .custom-col {
    flex: 1.5; 
    max-width: 12%; 
    
  }

  .form-container {
    background-color: #f1e6e6; 
    color: rgb(54, 54, 54); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

  .form-container .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .form-container .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }}

  .carousel-caption {
    bottom: 20px; /* Ajusta a posição do texto */
  }
  
  h5, p {
    font-size: calc(1rem + 1vw); /* Tamanhos responsivos baseados na largura da tela */
  }
  
  @media (max-width: 400px) {
    .carousel-caption h5 {
      font-size: 1.2rem; /* Texto menor em telas menores */
    }
  
    .carousel-caption p {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 992px) { /* Para telas menores ou iguais ao tamanho 'md' */
    body {
      background-image: url('./imagens/back.jpg'); /* Substitua pelo caminho da imagem */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
  
  