body {
    background-color: #242323;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  }
  .form-container {
    background-color: #f8f9fa;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  footer {
    background-color: #000;
    padding: 20px 0;
    color: white;
  }
  .footer-text {
    font-size: 1.2rem;
  }
  .footer-images img {
    max-width: 150px;
  }
  .btn-success {
    width: 100%;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  